<!DOCTYPE html>

<html lang="en" xmlns:th="http://wwww.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>
<h1 th:text="${title}"></h1>
<nav th:replace="fragments :: navigation"></nav>
<br />

<p th:unless="${cheeses}">No cheeses were passed :-(</p>
<p th:unless="${cheeses.size()}">Your list of cheeses is empty.</p>

<form method="post">
    <!--This was for using a HashMap-->
    <!--<select name="cheeseName">-->
    <!--This is for using an ArrayList of Cheese objects-->
    <select name="cheeseObject">
        <!--Using a HashMap-->
        <!--<option th:each="cheese : ${cheeses}" th:text="${cheese.key} + ', ' + ${cheese.value}" th:value="${cheese.key}"></option>-->
        <option th:each="cheese : ${cheeses}" th:text="${cheese.name} + ', ' + ${cheese.description}" th:value="${cheese}"></option>
    </select>
    <input type="submit" value="Remove cheese" />
</form>


</body>
</html>
